/*===========================================
			v_slider PLUGIN STYLES
===========================================*/

/* V SLIDER (MAIN CONTAINER)
============================= */
.v_slider {
	position: relative;
	margin: 0 auto;
	min-height: 100px;
	max-width: 100%;
	overflow: hidden;
}

/*-- Clearing images in V SLIDER --*/
.v_slider:after {
	content: '';
	display: table;
	clear: both;
}

.v_slider img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.v_slider img.v_active {
	opacity: 1;
}

.v_slider img.narrow {
	width: 50%;
}

/* LINKS
============================= */
.v_slider_links {
	position: absolute;
	top: 3%;
	left: 0;
	z-index: 99;
	margin: 0;
	width: 50%;
	min-height: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.v_slider:hover .v_slider_links {
	/*Add in hover styles for the links*/
}

.v_slider_links a {
	position: absolute;
	display: block; /*Necessary for full_width_links*/
	display: none;
	width: 100%;
	padding: 5px 0;
	background: #f9f9f9;
	color: #2d2d2d;
	font-size: 20px;
	text-align: center;
	/*border-radius: 2px;*/
}

.v_slider_links a:hover {

}


/* V SLIDER CONTROLS
============================= */
.v_slider_controls {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	margin: -25px 0 0 0;
	width: 100%;
	height: 50px;
}

.v_slider_controls img {
	width: 50px;
}

.v_slider:hover .v_slider_controls {
	display: block;
}

.v_slider_next_button, .v_slider_back_button {
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: 0.5;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.v_slider_next_button { float: right; }
.v_slider_back_button { float: left; }

.v_slider_next_button:hover, .v_slider_back_button:hover {
	opacity: 0.9;
}

/*===========================================
		END v_slider PLUGIN STYLES
===========================================*/
